* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a37171;
  height: 140vh;
  justify-content: center;
  align-items: center;
  
  margin-top: 50px;
  
}.form-container {
  width: 40%;
  background-color: #8acfe8;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  margin-left: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #002f6c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004c99;
}
