
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #14a6e0;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left:350px
  top:90;
  left:475;
}

.login-form {
  background: #d6e0c2;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  max-width: 100%;
  
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;


}
.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #555;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

.signup-link a {
  color: #333;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}