
body{
  background-color: aquamarine;
  font-family: Arial, sans-serif;
  
}.main{
  max-width: fit-content;
  height: 850px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0,0.5);
  display: flex;
  margin-left: 15%;
  margin-top: 10%;
  display: center;
  align-items: center;
  
  
}
.reg {
 
 padding-left: 170px;
 color: white;
}

.left{ 
  justify-content: center;
  align-items: center;
  border:5px solid black ;
  width:260px;
  height:850px;
  background-color: rgb(1, 17, 67);
  
}
.right{
  
  border:5px solid black ;
  width:540px;
  height:850px;
  background-color: rgb(185, 130, 59);
  
}
.items{
  list-style: none;
  margin-top:64px;
}
.items li{
  
  padding:10px 9px 10px 9px;
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 23px;
}
.items li:hover{
  background-color: rgb(5, 228, 224);
  cursor: pointer;

}
.items a{
  text-decoration: none;
  font-weight: 300px;
  color:white;
}
/* form */
.form {
  margin:53px 0px  15px 40px;
  align-items: center;
  justify-content: center;
}
.form label{
  margin-right: 25px;
  font-weight: 300px;
}

.form input[type="text"], 
.form input[type="email"], 
.form input[type="tel"] {
  width: 350px; 
  padding: 5px; 
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#gender{
  width:350px;
  height: 30px;
  font-size: 15px;
}
#bloodgroup{
  width:350px;
  height: 30px;
  font-size: 15px;
}


.form input[type="submit"] {
  width: auto;
  background-color: #1a2d48;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;

}