* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Navbar Styling */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 29px;
  font-weight: bold;
  margin-left: 35px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-items ul li {
  margin-left: 30px;
  margin-right: 25px;
}

.nav-items ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  
}

.nav-items ul li a:hover {
  text-decoration: underline;
}

.language-selector {
  margin-left: 30px;
  margin-right: 100px;
}

.language-selector select {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background: #fff;
  color: #333;
}
